        <li class="list-group-item" id="entree{{ entree.id }}">
            <h4 class="list-group-item-heading">{% if entree.titre != '' %}{{ entree.titre }}{% endif %}
            {% if entree.module != module %}<small><a href="{% if archive is defined %}{{ path('app_modulefonctionnalitetype_afficherdetailmodulesarchivestoususers', {'module': entree.module.id}) }}{% else %}{{ path('app_modulefonctionnalitetype_afficherdetailmodulestoususers', {'module': entree.module.id}) }}{% endif %}">{{ entree.module.libelle }}</a></small>{% endif %}
            </h4>
            <p><a href="{{ path('app_default_editfrommodule', {'module': module.id, 'entree': entree.id}) }}">modifier le ticket</a>{% if  app.user.id == 10 %} / <a class="supprimer" href="{{ path('app_default_deletefrommodule', {'module': module.id, 'entree': entree.id}) }}">supprimer</a>{% endif %}</p>
            <p class="list-group-item-heading">{{ 'initiateur'|trans({'%user%': entree.createur.prenom ~ " " ~ entree.createur.nom}) }} -
                {{ 'entree.dateheure'|trans({'%date%': entree.dateheure|date('d/m/Y'), '%heure%': entree.dateheure|date('H:i')}) }}</p>
            <p class="list-group-item-heading">{{ 'concerne'|trans({'%user%': entree.assigne.prenom ~ " " ~ entree.assigne.nom}) }}</p>
            <p class="text-{{ include('RSSuiviDeProjetBundle:Default:classe_ligne.html.twig') }}">{{ 'nature'|trans({'%type%':entree.type|readable}) }} - {{ 'importance_detail'|trans({'%incidence%': entree.severite|readable|split(' ')|reverse|first|lower}) }}</p>
            <p class="well">{{ entree.description|nl2br }}</p>
            <p><a href="{{ path('app_piecejointe_add', {'entree': entree.id}) }}">{{ 'image.add'|trans() }}</a></p>
            {{ include('RSSuiviDeProjetBundle:Default:affiche_images.html.twig') }}
            {% if entree.commentaires|length > 0 %}
            <p>{{ 'contribution'|transchoice(entree.commentaires|length) }}
                {% for commentaire in entree.commentaires %}
            <blockquote>
                <p>{{ commentaire.commentaire|nl2br }}</p>
                <footer>{{ 'reponse_par'|trans({'%user%': commentaire.user.prenom ~ " " ~ commentaire.user.nom}) }} {{ 'date_commentaire'|trans({'%date%': commentaire.dateheure|date('d/m/Y'), '%heure%': commentaire.dateheure|date('H:i')}) }} - <a href="{{ path('app_commentaire_edit', { 'entree': entree.id, 'commentaire': commentaire.id }) }}">{{ 'modifier'|trans() }}</a>&nbsp;/&nbsp;<a href="{{ path('app_commentaire_delete', { 'entree': entree.id, 'commentaire': commentaire.id }) }}" class="supprimer">{{ 'supprimer'|trans() }}</a></footer>
            </blockquote>
                {% endfor %}
            {% endif %}
            <p><a href="{{ path('app_commentaire_add', { 'entree': entree.id }) }}">{{ 'commentaire.add'|trans() }}</a></p>
        </li>

{#
    "colonnes"
    créateur
    date d'ouverture du ticket


ajouter un titre aux tickets

présentation : gras

liste des entrées à supprimer

s/entrées/tickets
Initiateur : ... - Date : ... à ..
Concerne : ... (assigné à)
Nature : ... (incident, etc.) - Importance : ...

Contributions :
- réponse du ... à ... par .

ajouter ergonomie


top menu : ajouter un ticket

lorsque je crée un ticket dans un module, il faut afficher les tickets (leur titre) déjà créés

#}
