{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <a class="navbar-item" href="{{ path('app_default_add') }}" role="button">{{ 'entree.creer'|trans() }}</a>
            </div>
            <div class="level-right has-dropdown is-hoverable" id="filtres_container">
                {{ render(controller('App\\Controller\\RechercheController:indexAction')) }}
            </div>
        </nav>
{% if entrees|length > 0 %}
        <div class="col-lg-12 table-responsive">
            <table id="entrees" class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>{{ 'createur'|trans() }}</th>
                        <th>#</th>
                        <th>{{ 'piece_jointe'|trans() }}</th>
                        <th>{{ 'assigne'|trans() }}</th>
                        <th>{{ 'module_fonctionnalite'|trans() }}</th>
                        <th>{{ 'description'|trans() }}</th>
                        <th>{{ 'type'|trans() }}</th>
                        <th>{{ 'importance'|trans() }}</th>
                        <th>{{ 'commentaires'|trans() }}</th>
                        <th>{{ 'statut'|trans() }}</th>
                        <th class="nowrap">{{ 'testable_entete'|trans() }}</th>
                        <th>{{ 'duree'|trans() }}</th>
                        <th>Id</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>{{ 'createur'|trans() }}</th>
                        <th>#</th>
                        <th>{{ 'piece_jointe'|trans() }}</th>
                        <th>{{ 'assigne'|trans() }}</th>
                        <th>{{ 'module_fonctionnalite'|trans() }}</th>
                        <th>{{ 'description'|trans() }}</th>
                        <th>{{ 'type'|trans() }}</th>
                        <th>{{ 'importance'|trans() }}</th>
                        <th>{{ 'commentaires'|trans() }}</th>
                        <th>{{ 'statut'|trans() }}</th>
                        <th class="nowrap">{{ 'testable_entete'|trans() }}</th>
                        <th>{{ 'duree'|trans() }}</th>
                        <th>Id</th>
                    </tr>
                </tfoot>
                <tbody>
                       {% for entree in entrees %}
                        <tr class="{{ include('Default/classe_ligne.html.twig') }}">
                            <td>
                                <span
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="{{ entree.createur.getNomAffichage() }}">{{ entree.createur.getNomAffichageReduit() }}</span>
                            </td>
                            <td>{{ entree.reference }}</td>
                            <td>
                                <p>
                                    <a
                                            href="{{ path('app_piecejointe_add', {'entree': entree.id}) }}"
                                            class="btn btn-primary"
                                            role="button" title="{{ 'image.add'|trans() }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </p>
                                {{ include('Default/affiche_images.html.twig') }}
                            </td>
                            <td>
                                <span
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="{{ entree.assigne.getNomAffichage() }}">{{ entree.assigne.getNomAffichageReduit() }}</span>
                            </td>
                            <td>{{ entree.module.libelle }}</td>
                            <td>
                                <div class="showhidecontainer">
                                    <a class="showhidedisplayer" aria-haspopup="true">
                                        {% if entree.description|length > 0 %}
                                            {{ entree.description|u.truncate(10, '...', false) }}
                                        {% endif %}
                                    </a>
                                    <div class="showhidedisplayed is-hidden" id="entreedesc{{ entree.id }}">
                                        {{ entree.description|nl2br }}
                                    </div>
                                </div>
                            </td>
                            <td>{{ entree.type|readable_enum }}</td>
                            <td>{{ entree.severite|readable_enum }}</td>
                            <td>
                                <p>
                                    <a
                                            href="{{ path('app_commentaire_add', { 'entree': entree.id }) }}"
                                            class="btn btn-primary"
                                            role="button" title="{{ 'commentaire.add'|trans() }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </p>
                                <div class="panel-group" id="entreecomm{{ entree.id }}" role="tablist" aria-multiselectable="true">
                                    {% for commentaire in entree.commentaires %}
                                        <div class="showhidecontainer">
                                            <a class="showhidedisplayer" aria-haspopup="true">
                                                <span
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{ commentaire.user.getNomAffichage() }}">
                                                    {{ commentaire.user.getNomAffichageReduit() }}
                                                </span>&nbsp;
                                                {{ 'index_date_commentaire'|trans({ '%dateheure%': commentaire.dateheure|date('d/m/Y à H:i') }) }}
                                                &nbsp;:&nbsp;{{ commentaire.commentaire|u.truncate(10, '...', false) }}
                                            </a>
                                            <div class="showhidedisplayed is-hidden" id="entreecomm{{ commentaire.id }}">
                                                <p>
                                                    <a
                                                            href="{{ path('app_commentaire_edit', { 'entree': entree.id, 'commentaire': commentaire.id }) }}"
                                                            class="btn btn-primary" role="button" title="{{ 'modifier'|trans() }}">
                                                        <i class="fas fa-edit"></i>
                                                    </a>&nbsp;
                                                    <a
                                                            href="{{ path('app_commentaire_delete', { 'entree': entree.id, 'commentaire': commentaire.id }) }}"
                                                            class="btn btn-danger"
                                                            role="button"
                                                            title="{{ 'supprimer'|trans() }}"><i class="fas fa-trash"></i>
                                                    </a>
                                                </p>
                                                {{ commentaire.commentaire|nl2br }}
                                            </div>
                                        </div>
                                  {% endfor %}
                                </div>
                                </td>
                            <td>{{ entree.statut|readable_enum }}</td>
                            <td>{{ entree.afficheTestable }}</td>
                            <td>{{ entree.afficheDuree }}</td>
                            <td>{{ "%'.04d"|format(entree.id) }}<p><a href="{{ path('app_default_edit', { 'entree': entree.id }) }}" class="btn btn-primary" role="button" title="{{ 'modifier'|trans() }}"><i class="glyphicon glyphicon-edit"></i></a></p></td>
                        </tr>
                       {% endfor %}
                </tbody>
            </table>
        </div>
{% else %}
<div class="text-danger">
     <p>Pas d'entrée</p>
</div>
{% endif %}
    </div>
{% endblock body %}

{% block javascripts %}
    <script>
        function getAll(selector) {
            var parent = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : document;

            return Array.prototype.slice.call(parent.querySelectorAll(selector), 0);
        }
        // galerie : afficher / masquer
        var $galeries = getAll('.showhidedisplayer');

        if ($galeries.length > 0) {
            $galeries.forEach(function ($el) {
                $el.addEventListener('click', function (event) {
                    event.stopPropagation();
                    $el.parentElement.querySelector('.showhidedisplayed').classList.toggle('is-hidden');
                });
            });
        }

        // dropdown
        var $dropdowns = getAll('.dropdown:not(.is-hoverable)');

        if ($dropdowns.length > 0) {
            $dropdowns.forEach(function ($el) {
                $el.addEventListener('click', function (event) {
                    event.stopPropagation();
                    $el.classList.toggle('is-active');
                });
            });

            document.addEventListener('click', function (event) {
                closeDropdowns();
            });
        }

        function closeDropdowns() {
            $dropdowns.forEach(function ($el) {
                $el.classList.remove('is-active');
            });
        }
        // modal (thumbnails)
        var rootEl = document.documentElement;
        var $modals = getAll('.modal');
        var $modalButtons = getAll('.modal-button');
        var $modalCloses = getAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button');

        if ($modalButtons.length > 0) {
            $modalButtons.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    var target = $el.dataset.target;
                    openModal(target);
                });
            });
        }

        if ($modalCloses.length > 0) {
            $modalCloses.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    closeModals();
                });
            });
        }

        function openModal(target) {
            var $target = document.getElementById(target);
            rootEl.classList.add('is-clipped');
            $target.classList.add('is-active');
        }

        function closeModals() {
            rootEl.classList.remove('is-clipped');
            $modals.forEach(function ($el) {
                $el.classList.remove('is-active');
            });
        }

        document.addEventListener('keydown', function (event) {
            var e = event || window.event;
            if (e.keyCode === 27) {
                closeModals();
                closeDropdowns();
            }
        });
    </script>
{% endblock javascripts %}
