{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <p>
            <a href="{{ path('app_piecejointe_add') }}" role="button">{{ 'piecejointe.creer'|trans() }}</a>
        </p>
{% if images|length > 0 %}
        <div class="col-lg-4 list-group">
            {% for image in images %}
            <div class="list-group-item">
                <p>{{ image.libelle }}
                    <a href="{{ path('app_piecejointe_edit', { 'image': image.id }) }}" role="button" title="{{ 'modifier'|trans() }}">{{ 'modifier'|trans() }}</a>&nbsp;&nbsp;
                    <a href="{{ path('app_piecejointe_delete', { 'image': image.id }) }}" role="button" title="{{ 'supprimer'|trans() }}">{{ 'supprimer'|trans() }}</i></a>
                </p>
            </div>
            {% endfor %}
        </div>
{% else %}
<div class="row text-danger">
     Pas de pièce jointe
</div>
{% endif %}
    </div>
{% endblock body %}

{% block javascripts %}
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('#modules').dataTable( { "columns": [ {"name": "first", "orderable": true}, {"name": "second", "orderable": false} ] } );
            } );



        </script>
{% endblock javascripts %}
