<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ 'suivi_de_projet'|trans() }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ absolute_url(asset('build/base.css')) }}"/>
        {{ encore_entry_link_tags('bulma') }}
    {% endblock %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <link href="{{ path('app_default_feed') }}" rel="alternate" title="{{ 'entree.feed' }}" type="application/atom+xml">
    {% endif %}
</head>
<body>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('app_default_index') }}">{{ 'accueil'|trans() }}</a>
            <a class="navbar-item" href="{{ path('app_modulefonctionnalitetype_index') }}">{{ 'module.lien'|trans() }}</a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and false %}
                {{ render(controller('RSSuiviDeProjetBundle:Utilisateur:index')) }}
            {% endif %}
            <a class="navbar-item" href="{{ path('app_modulefonctionnalitetype_listemodulesarchives') }}">{{ 'archives'|trans() }}</a>
            <a class="navbar-item" href="{{ path('app_default_add') }}">{{ 'entree.creer'|trans() }}</a>
        </div>
        <div class="navbar-end">
            {{ include('nom_utilisateur.html.twig') }}
        </div>
    </div>
</nav>

<div class="container-fluid">
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="col-md-4">
        <div id="fos_user_content">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</div>

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
